DeploymentComponents/consumers/beneficial_ownership/logicapp_standard/getSynapseTable/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Execute_a_SQL_query_(V2)": {
                "inputs": {
                    "body": {
                        "query": "SELECT *\nFROM INFORMATION_SCHEMA.COLUMNS"
                    },
                    "host": {
                        "connection": {
                            "referenceName": "sql"
                        }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('actstax-dev-use2-syn-11-ondemand.sql.azuresynapse.net'))},@{encodeURIComponent(encodeURIComponent(triggerBody()?['databasename']))}/query/sql"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Response": {
                "inputs": {
                    "body": "@body('Select')",
                    "schema": {
                        "items": {
                            "properties": {
                                "CHARACTER_MAXIMUM_LENGTH": {},
                                "COLUMN_DEFAULT": {},
                                "COLUMN_NAME": {
                                    "type": "string"
                                },
                                "DATA_TYPE": {
                                    "type": "string"
                                },
                                "IS_NULLABLE": {
                                    "type": "string"
                                },
                                "ORDINAL_POSITION": {
                                    "type": "integer"
                                },
                                "TABLE_CATALOG": {
                                    "type": "string"
                                },
                                "TABLE_NAME": {
                                    "type": "string"
                                },
                                "TABLE_SCHEMA": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "statusCode": 200
                },
                "kind": "http",
                "runAfter": {
                    "Select": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            },
            "Select": {
                "inputs": {
                    "from": "@body('Execute_a_SQL_query_(V2)')?['ResultSets']?['Table1']",
                    "select": {
                        "CHARACTER_MAXIMUM_LENGTH": "@item()?['CHARACTER_MAXIMUM_LENGTH']",
                        "COLUMN_DEFAULT": "@item()?['COLUMN_DEFAULT']",
                        "COLUMN_NAME": "@item()?['COLUMN_NAME']",
                        "DATA_TYPE": "@item()?['DATA_TYPE']",
                        "IS_NULLABLE": "@item()?['IS_NULLABLE']",
                        "ORDINAL_POSITION": "@item()?['ORDINAL_POSITION']",
                        "TABLE_CATALOG": "@item()?['TABLE_CATALOG']",
                        "TABLE_NAME": "@item()?['TABLE_NAME']",
                        "TABLE_SCHEMA": "@item()?['TABLE_SCHEMA']"
                    }
                },
                "runAfter": {
                    "Execute_a_SQL_query_(V2)": [
                        "Succeeded"
                    ]
                },
                "type": "Select"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "databasename": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "kind": "Stateful"
}