DeploymentComponents/consumers/generic/synapse_artifacts/consumer/pipelines/PL_GetLoggingUpdates.json
{
    "name": "PL_GetLoggingUpdates",
    "properties": {
        "activities": [
            {
                "name": "Get Latest Record",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT  COALESCE(MAX(source_id),0) [Latest_ID] \nFROM    [dbo].[ControlTable]",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "DS_SQL_ControlTable",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "CopyLatestToStagingTable",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Get Latest Record",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "@concat('SELECT  *\nFROM    [dbo].[IngestedLandingDataAudit]\nWHERE   [id] > ', \nactivity('Get Latest Record').output.firstRow.Latest_ID, '\nAND     [ingestion_status] = ''Processed''\nAND     [destination_folderpath] LIKE ''raw%''\n'\n)",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "AzureSqlSink",
                        "writeBehavior": "insert",
                        "sqlWriterUseTableLock": false,
                        "tableOption": "autoCreate",
                        "disableMetricsCollection": false
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": false,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "DS_SQL_Source",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DS_SQL_StagingTable",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Update Control Table",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "CopyLatestToStagingTable",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[ProcessLatestLoggingRecords]"
                },
                "linkedServiceName": {
                    "referenceName": "LS_SQL_Orchestration",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2023-01-12T21:22:06Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}